<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <%- include _header.ejs%>
</head>
<body>
    <%- include _navbar.ejs%>
    <div class="d-flex justify-content-center align-items-center mt-5">
        <div class="card" style="width: 18rem;">
            <% if (datos) { %>
            <ul class="list-group list-group-flush">
              <li class="list-group-item">
                Nombre: <%= datos.nombre%>
              </li>
              <li class="list-group-item">
                Apellido: <%= datos.apellido%>
              </li>
              <li class="list-group-item">
                Edad: <%= datos.edad %>
              </li>
            </ul>
            <% } %>
          </div>
    </div>
</body>
</html>